﻿@model OTDAV.Models.Membership

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>MemberShip</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.stat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.stat, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.stat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user.email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user.email, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user.cin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user.cin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user.cin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user.firstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user.firstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user.firstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user.lastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user.lastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user.lastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-check">
        @Html.EditorFor(model => model.user.moral, new { htmlAttributes = new { @class = "form-check-input", id = "checkbox1" } })
        @Html.LabelFor(model => model.user.moral, htmlAttributes: new { @class = "form-check-label" })

        @Html.ValidationMessageFor(model => model.user.moral, "", new { @class = "text-danger" })
    </div>

    <div class="form-group moral">
        @Html.LabelFor(model => model.user.formeJuridique, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.user.formeJuridique, new List<SelectListItem>
{ new SelectListItem{ Text="SA", Value="SA"},
new SelectListItem{Text="SARL", Value="SARL"},
new SelectListItem{Text="SCA", Value="SCA"},
new SelectListItem{Text="SNC", Value="SNC"},
new SelectListItem{Text="SUARL", Value="SUARL"}}, "Please select", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.user.formeJuridique, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group moral">
        @Html.LabelFor(model => model.user.raisonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user.raisonSocial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user.raisonSocial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group moral">
        @Html.LabelFor(model => model.user.identifiantUnique, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user.identifiantUnique, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user.identifiantUnique, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.user.id, new { htmlAttributes = new { @class = "form-control" } })


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#checkbox1').change(function () {
                if (this.checked) {
                     $('.moral').css('display', 'block');
                } else {
                    $('.moral').css('display', 'none');
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
