﻿@model IEnumerable<OTDAV.Areas.Admin.Models.Membership>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Memberships</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-12">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.stat)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.stat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>

                        @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id }) |*@
                        @Html.ActionLink("Manage ConstituentFile", "Index", "UserConstituentFile", new { id = item.id }, new { @class = "btn btn-primary" }) 

                        @if (item.stat == "Accepted")
                        {
                            @Html.ActionLink("Manage declarations", "Index", "UserDeclarations", new { id = item.id }, new { @class = "btn btn-primary" })

                            @Html.ActionLink("Manage works", "Index", "Work", new { @class = "btn btn-primary" })
                            @*@Html.ActionLink("Manage DistributionRights", "Index", "UserDistributionRight", new { id = item.id }, new { })*@

                        }

                        @*<button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>*@
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
