﻿@model OTDAV.Areas.Admin.Models.DistributionRight

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DistributionRight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finishingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finishingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
    @using (Html.BeginForm(new { backtowork = ViewBag.backtowork }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.work.id)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
