﻿@model OTDAV.Areas.Admin.Models.Membership

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}





@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create Membership</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form">
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.stat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.stat, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownListFor(model => model.stat, new List<SelectListItem>
                { new SelectListItem{ Text="Accepted", Value="Accepted"},
                new SelectListItem{Text="Rejected", Value="Rejected"},
                new SelectListItem{Text="In_progress", Value="In_progress"},
                new SelectListItem{Text="Suspended", Value="Suspended"}}, "Please select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.stat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>
                @if (ViewBag.listUser != null)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.user, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="card-tools">
                                <div class="input-group input-group-sm">
                                    @Html.DropDownListFor(model => model.user.id, ViewBag.listUser as List<SelectListItem>, "Please select", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                }






            </div>
            <!-- /.card-body -->

            <div class="card-footer">

                <button type="submit" value="Create" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

}

<div class="card-footer">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
