﻿@model IEnumerable<OTDAV.Areas.Admin.Models.Agent>

@{
    ViewBag.Title = "Index_Agents";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Officers</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "Admin" }, new { @class = "" })
                    </li>
                    <li class="breadcrumb-item active">Officers</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Officers list</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <div class="input-group-append">


                                    @*@Html.ActionLink("Create New", "Create", new { area = "Admin" }, new { @class = "btn btn-default" })*@

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.cin)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.firstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.lastName)
                                </th>
                                @*Html.DisplayNameFor(model => model.isSubscribed)*@


                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>

                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.cin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.firstName)
                            </td>
                            @*Html.DisplayFor(modelItem => item.isSubscribed)*@

                            <td>
                                @Html.DisplayFor(modelItem => item.lastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>

                            @*Html.ActionLink("Edit", "Edit", new { id=item.id }) |
        @Html.ActionLink("Details", "Details", new { id=item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
                        </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
