﻿@model OTDAV.Areas.Admin.Models.Department

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Details Department</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form">
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.description)
                </div>
            </div>
         



        </div>
        <!-- /.card-body -->

    </form>

</div>






<div>

    

    <table class="table">


        @foreach (var item in Model.Agents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cin)
                </td>

                @*Html.DisplayFor(modelItem => item.isSubscribed)*@
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
               
                @*Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
            </tr>
        }
    
    </table>
    

</div>







   <div class="card-footer">
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</div>
