﻿@model IEnumerable<OTDAV.Areas.Admin.Models.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Simple Tables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "Admin" }, new { @class = "" })
                    </li>
                    <li class="breadcrumb-item active">Memberships</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Liste Membre</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                @using (Html.BeginForm("List", "Users", FormMethod.Post, new { id = "consulterForm", @class = "d-flex" }))
                                {
                                <div class="input-group-append">
                                    @Html.DropDownList("role", new List<SelectListItem>
                                    { new SelectListItem{ Text="Guest", Value="guest"},
                                    new SelectListItem{Text="Admin", Value="admin"},
                                    new SelectListItem{Text="User", Value="user"},
                                    new SelectListItem{Text="Agent", Value="agent"}}, "Please select", new { @class = "form-control"})
                                    @*<select id="role" nam="role" class="form-control">
                                        <option nam="role" value="guest">Guest</option>
                                        <option nam="role" value="admin">Admin</option>
                                        <option nam="role" value="user">User</option>
                                        <option nam="role" value="agent">Agent</option>
                                    </select>*@
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-default" type="submit" id="consulter">Show List</button>
                                </div>
                                }
                                <div class="input-group-append">
                                    @*@Html.ActionLink("Create New", "Create", new { area = "Admin" }, new { @class = "btn btn-default" })*@
                                </div>
                            </div>
                            </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.cin)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.isSubscribed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.lastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.firstName)
                                </th>
                                <th> Actions </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isSubscribed)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.firstName)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
