﻿@model IEnumerable<OTDAV.Areas.Admin.Models.ConstituentFile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Files list</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.idMembership })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.path)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.path)
        </td>
        <td>

            <a href="@Url.Action("Details", new { id = item.id })" class="btn btn-primary"><i class="far fa-eye"></i></a>
            <a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>

            @*<button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>*@
            @*<button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>*@
            @*@Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
        </td>
    </tr>
}

</table>
