﻿@model OTDAV.Areas.Admin.Models.Agent

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}





<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Delete Agent</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            <h3>Are you sure you want to delete this?</h3>
            <div class="form-group">
                @Html.LabelFor(model => model.cin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.cin)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.firstName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.lastName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.email)
                </div>
            </div>


            


        </div>
        <!-- /.card-body -->


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="card-footer">
            <button type="submit" value="Delete" class="btn btn-primary">Submit</button>
            @Html.ActionLink("Back to List", "Index")
        </div>
        }
    
   
</div>


