﻿@model IEnumerable<OTDAV.Areas.Admin.Models.Agent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Agents</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "Admin" }, new { @class = "" })
                    </li>
                    <li class="breadcrumb-item active">Officers</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste Officers</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <div class="input-group-append">
                                @*Html.ActionLink("Create New", "Create", new { area = "Admin" }, new { @class = "btn btn-default" })*@

                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.cin)
                            </th>
                            <th>
                                @*Html.DisplayNameFor(model => model.isSubscribed)*@
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.firstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.lastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.email)
                            </th>

                            <th>
                                @Html.DisplayName("Department")
                            </th>
                            <th> Actions</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cin)
                                </td>
                                <td>
                                    @*Html.DisplayFor(modelItem => item.isSubscribed)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.firstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.departement.name)
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", new { id = item.id })" class="btn btn-primary"><i class="far fa-eye"></i></a>
                                    <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-success"><i class="far fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>


                                    @*<button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>*@
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</section>
