﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OTDAV</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("OTDAV", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if (Request.IsAuthenticated && User.IsInRole("user"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("My Memberships", "Index", "UserMembership", new { area = "" }, new { @class = "nav-link" })
                        @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
                    </li>
                }
                @if (Request.IsAuthenticated && User.IsInRole("user"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("My Declarations", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                        @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
                    </li>
                }
                @if (Request.IsAuthenticated && User.IsInRole("user"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("My Work", "Index", "Work", new { area = "" }, new { @class = "nav-link" })
                        @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
                    </li>
                }
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    @*<a class="nav-link" href="#">Link</a>*@
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    @*<a class="nav-link" href="#">Link</a>*@
                </li>
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Admin panel", "Index", "Membership", new { area = "Admin" }, new { @class = "nav-link" })

                    </li>
                }

                @*<li class="nav-item">
            @Html.Partial("_LoginPartial")
        </li>*@
                @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>*@
                @*<li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>*@
            </ul>
            <div class="form-inline my-2 my-lg-0">
                @*<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - Tous doits reservés Organisme Tunisien des Droits d’Auteur et des Droits voisins
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
