﻿@model OTDAV.Areas.Admin.Models.Work

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Work</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.workcategorie, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="card-tools">
                <div class="input-group input-group-sm">
                    @Html.DropDownListFor(model => model.workcategorie.id, ViewBag.ListWorkCategorie as List<SelectListItem>, "Please select", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div id="dist-div" style="display:none;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Distribution rights</h5>
                <div id="dist-form-div">

                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <div class="input-group input-group-sm">
                <button type="button" class="btn btn-primary" id="addDistBtn">
                    Add Distribution rights
                </button>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        var number = 0;
        $(document).ready(function () {
            $("#addDistBtn").click(function () {
                if ($('#dist-div').css('display') == 'none') {
                    //$('#addDistBtn').css('display', 'none');
                    $('#dist-div').css('display', 'block');
                }

                var container = $("#dist-form-div").append
                    (`
                    <div id="dist-div" style="display: block;">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Distribution right</h5>
                                    <div id="dist-form-div">
                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="distributionRights_`+ number + `__description">Description</label>
                                            <div class="col-md-10">
                                                <input class="form-control text-box single-line" id="distributionRights_`+ number + `__description" name="distributionRights[` + number + `].description" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="distributionRights[`+ number + `].description" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="distributionRights_`+ number + `__startingDate">Starting Date</label>
                                            <div class="col-md-10">
                                                <input class="form-control text-box single-line" data-val="true" data-val-date="The field Starting Date must be a date." data-val-required="The Starting Date field is required." id="distributionRights_`+ number + `__startingDate" name="distributionRights[` + number + `].startingDate" type="datetime" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="distributionRights[`+ number + `].startingDate" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="distributionRights_`+ number + `__finishingDate">Finishing Date</label>
                                            <div class="col-md-10">
                                                <input class="form-control text-box single-line" data-val="true" data-val-date="The field Finishing Date must be a date." data-val-required="The Finishing Date field is required." id="distributionRights_`+ number + `__finishingDate" name="distributionRights[`+ number + `].finishingDate" type="datetime" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="distributionRights[`+ number + `].finishingDate" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="distributionRights_`+ number + `__price">Price</label>
                                            <div class="col-md-10">
                                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field Price must be a number." data-val-required="The Price field is required." id="distributionRights_`+ number + `__price" name="distributionRights[`+ number + `].price" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="distributionRights[`+ number + `].price" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                  </div>
                            </div>
                        </div>
                </div>
                `);
                number++;
            });




        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}