﻿@model OTDAV.Areas.Admin.Models.Work

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{

    <h2 class="m-4">Details</h2>

    <div>
        <!-- Content header -->
        <div class="m-4">
            <h4 class="">Work</h4>

            <div class="d-inline-block  m-3">
                <h4 class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.name)
                </h4>
                <p>@Html.EditorFor(model => model.name)</p>
            </div>

            <div class="d-inline-block m-3">
                <h4 class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.description)
                </h4>
                <p>@Html.DisplayFor(model => model.description)</p>
            </div>

            <div class="d-inline-block m-3">
                <h4 class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.workcategorie)
                </h4>
                <p>@Html.DisplayFor(model => model.workcategorie.title)</p>
            </div>
        </div>

        <!-- Content table -->
        <div class="m-4">
            <h4 class="">@Html.DisplayNameFor(model => model.distributionRights)</h4>
            <div class="table-responsive-sm m-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Distrubtion Right Description</th>
                            <th scope="col">Distrubtion Right Starting Date</th>
                            <th scope="col">Distrubtion Right finishing Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var distrubtionright in Model.distributionRights)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => distrubtionright.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => distrubtionright.startingDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => distrubtionright.finishingDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "UserDistrubtionRight", new { id = distrubtionright.id }, new { })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
