﻿@model OTDAV.Areas.Admin.Models.DistributionRight

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Delete Department</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->

    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <h3>Are you sure you want to delete this?</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.startingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.startingDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.finishingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.finishingDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.price)
            </div>
        </div>



    </div>
    <!-- /.card-body -->


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card-footer">
            <button type="submit" value="Delete" class="btn btn-primary">Submit</button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }


</div>


