﻿@model OTDAV.Areas.Admin.Models.DistributionRight

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Details Distribution Right</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form">
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.description)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.startingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.startingDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.finishingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.finishingDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.price)
                </div>
            </div>



        </div>
        <!-- /.card-body -->

    </form>

</div>



<div class="card-footer">
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</div>



