﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>OTDAV</h1>


        @if (User.Identity.IsAuthenticated && User.IsInRole("guest"))
        {
            <p>
                you need to register as member to post a declaration and work
            </p>
            <p><a href="@Url.Action("Create", "UserMembership")" class="btn btn-primary btn-lg">Become a member&raquo;</a></p>
        }
        else
        {
            <p class="lead">Organisme Tunisien des Droits d'Auteur et des Droits Voisins</p>
            <p><a href="http://www.otdav.tn/missions/" class="btn btn-primary btn-lg">Learn more&raquo;</a></p>
        }
        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
        {
            <span> admin</span>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("guest"))
        {
            <span> guest</span>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("user"))
        {
            <span> user</span>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("agent"))
        {
            <span> agent</span>
        }
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Créateur
        </h2>
        <p>
            Tout créateur peut protéger ses œuvres originales littéraires, scientifiques ou artistiques telles que, les compositions musicales, les œuvres écrites ou imprimées, les œuvres créées pour la scène ou pour la radiodiffusion, les logiciels, etc …, selon deux modes de protection
        </p>
        <p><a class="btn btn-default" href="http://www.otdav.tn/otdav/?page_id=738">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Utilisateurs</h2>
        <p>Toute exploitation ou utilisation d’une œuvre protégée nécessite une autorisation préalable de l’auteur lui même ou de son représentant légal en contrepartie d’une rémunération conformément à la loi et à la réglementation en vigueur dans le domaine de la propriété       littéraire et artistique.</p>
        <p><a class="btn btn-default" href="http://www.otdav.tn/otdav/?page_id=795">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Œuvres protégées
        </h2>
        <p>Les Œuvres concernées par la protection au titre du droit d’auteur sont citées à titre indicatif dans l’article premier de la loi n° 94-36 du 24 février 1994, relative à la Propriété littéraire et artistique, modifiée et complétée par la Loi n° 2009-33 du 23 juin 2009.</p>
        <p><a class="btn btn-default" href="http://www.otdav.tn/otdav/?page_id=494">Learn more &raquo;</a></p>
    </div>
</div>