﻿@model OTDAV.Areas.Admin.Models.Role

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Details Roles</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form">
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
         



        </div>
        <!-- /.card-body -->

    </form>

</div>



<div class="card-footer">
    @Html.ActionLink("Back to List", "Index")
</div>


