﻿@model IEnumerable<OTDAV.Areas.Admin.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profile_image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profile_image)
        </td>
        <td>
            <a href="@Url.Action("Details", new { id = item.id })" class="btn btn-primary"><i class="far fa-eye"></i></a>
            <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-success"><i class="far fa-edit"></i></a>
            <a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
        </td>
    </tr>
}

</table>
